h1 {
    background-color: aliceblue !important;
}

.head {
    color: brown;
    background-color: aliceblue;
}

#head_1 {
    background-color: aliceblue;
}

.users {
    display: flex;
    gap: 20px;
}

.users .user {
    padding: 15px;
    background-color: aliceblue;
    width: 300px;
}

.users .user img {
    width: 100%;
}

form {
    margin: 40px;
    padding: 20px;
    background-color: rgb(212, 232, 250);
}

form div {
    margin-bottom: 10px;
}

.input-error {
    color: red;
}

.hidden {
    display: none;
}

.users .user.active {
    background-color: rgb(250, 176, 176);
}