.news-list{
    max-width: 1200px;
    background-color: cornsilk;
    margin: 0 auto;
    padding: 40px;
}

.news-list .news{
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.news-list .news.sport-news{
    border: 2px solid #daebff;
}

.news-list .news.space-news{
    background-color: #deeeff;
}

.news-list .news.science-news{
    background-color: #c8d0d3;
}